/* ----------- Navbar ----------- */
.navbar {
    background: rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(10px);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    opacity: 0.95;

}

.navbar h1 {
    margin: 0;
    color: #e7e5e5;
    font-size: 1.4rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.navbar li a {
    text-decoration: none;
    color: #f5f5f5;
    font-weight: 600;
}
